#game-container {
	margin-top: 40px;
    display: flex;
    justify-content: space-around;
}
body{
    font-size: 22px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color:rgb(73, 100, 181);
}

#game-layer {
    background-color: azure;
    position: relative;
    width: 500px;
    height: 500px;
    border: 3px solid rgb(115, 185, 255);
}
.square {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 3px solid rgba(49, 35, 26, 0.517);
}

#titleControl{
    font-size: 50px;
    color: rgb(255, 255, 255);
}
#clock{
    font-size: 40px;
    color: rgb(255, 111, 111);
}
.red{
    background-color:rgb(154, 39, 39); 
}
.blue{
    background-color:rgb(47, 47, 115); 
}
.green{
    background-color:rgb(27, 86, 27); 
}
.yellow{
    background-color:rgb(240, 208, 30); 
}